<div id="home">
  <div class="container">
        <canvas id="canvas1" width="400" height="400"></canvas>
        <br>
        <button id="submit" class="btn btn-primary">Submit</button>
        <br>

        <btn class="btn btn-primary" id="grad_test">Click to Get Add Gradient</btn>
        <div id='gradpicker'>
          <input type="color" id="c1_color"
            value="#ffff00">
          <label for="color">Gradient Color 1</label>

          <input type="color" id="c2_color"
            value="#ffff00">
          <label for="color">Gradient Color 2</label></div>
        <br>

        <btn class="btn btn-primary" id="patt_test">Click to Get Add Pattern</btn>
          <div id='patpicker'>
            <img class ='img img-thumbnail pattern' src='./duck/patterns/greencamo.jpg'>
            <img class ='img img-thumbnail pattern'src='./duck/patterns/tartan.png'>
          </div>
        <br>

        <btn class="btn btn-primary" id="addhat">Click to Toggle Hat</btn>
        <br>

        <div>
          <input type="color" id="head_color"
            value="#ffff00">
          <label for="color">Head Color</label>

          <input type="color" id="bill_color"
            value="#ffff00">
          <label for="color">Bill Color</label>

          <input type="color" id="body_color"
            value="#ffff00">
          <label for="color">Body Color</label>
        </div>


        <br>
        <div>
          <btn class="btn btn-primary" id="download">Download Image</btn>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/21.0.1/min/jcanvas.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/create-duck.js"></script>
